<!DOCTYPE html>
<html>
<head>
  <title>Infocentre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
  <nav class="black">
        <div class="nav-wrapper">
          <ul>    
            <li><%= link_to "Dashboard",root_path%></li>
            <li><%= link_to "Blog",blog_path%></li>
            <li><%= link_to "About Us",about_us_path%></li>
            <li class="right">
            <%if user_signed_in? %>
            <b><%= current_user.email %></b>
            <%end%>
            </li>
            <%if !(user_signed_in?) %>
            <li class="right"><%= link_to "Sign In",new_user_session_path%></li>
            <%else%>
            <li class="right"><%= link_to "Log Out", destroy_user_session_path, :method => :delete%></li>
            <%end%>
          </ul>
        </div>
  </nav>
</head>
<body>
  <div class="container center">
  <!--<p class="notice"><%= notice %></p>-->
  <p class="alert red-text"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>

  									